snippet fmf "fiction front matter"
---
title: $1
category: essay
tags: book fiction
fullness: $2
---
endsnippet

snippet nmf "nonfiction front matter"
---
title: $1
category: essay
tags: book nonfiction
fullness: $2
---
endsnippet

snippet mmf "film/movie front matter"
---
title: $1
category: essay
tags: film
fullness: $2
---
endsnippet

snippet cit "cite"
> <cite>-- $1</cite>
endsnippet

snippet fln "film link"
[[$1|$2 ($3)]]
endsnippet
